.WatchApp-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.WatchApp-title {
  border-bottom: thick double black;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 3rem;
  font-family: "Source Code Pro", monospace;
  background-color: #70baf4;
}

.WatchApp-form {
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 2%;
}
